body {

    /* background-color: rgba(0, 162, 255, 0.50); */
    font-family: 'Fira Sans', sans-serif;
}


header {
    background: linear-gradient(to right, rgba(0, 162, 255), indigo);
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 0 10% 0 10%;
    min-height: 38px;
    font-size: 125%;
}

.form-control {
    border: 1px dashed rgb(0, 162, 255);
    background-color:rgb(234, 209, 252);
    color: indigo;
}

.search-form {
    font-size: 135%;
    font-weight: bolder;
    text-align: center;
}

.historySearch {

    border-top: 1px dashed blue;
}

.btn-primary {

margin-bottom: 8px;
margin-top: 16px;
}

.today-forecast {

    background-color: rgba(0, 129, 250, 0.25);
    padding-left: 5%;
    padding-top: 1%;

}

.logo {
    text-align: center;
    margin-top: 8%;
}

.five-days {
margin-top: 8%;
}

h4 {
    margin-left: 5%;
    padding-top: 1%;
    margin-bottom: -5%;
}

.list-group-item, .card {
    /* background-color:rgb(234, 209, 252); */
    color: indigo;
    font-size: 80%;
    border: 1px dashed green;
}

li {
    margin-left: 10%;
}

.clear-history {
    font-size: 65%;
    margin-bottom: 8%;
}

footer {
    font-size: 75%;
    text-align: center;
}